.Navbar-traxy-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px 25px;
    background: rgb(169,135,238);
    background: linear-gradient(135deg, rgba(169,135,238,1) 25%, rgba(112,88,161,1) 86%);
}

.links-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 50px;
    padding: 0 50px;
    width :fit-content;
}
.links-item{
    color: #7058A1;
    padding: 15px 45px;
    background-color: #fff;
    border-radius: 23px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}
.links-item.selected{
    color: #fff;
    background-color: #FFAD0E;
    transform: scale(1.1);
}
.links-item:hover{
    cursor: pointer;
}
.links-item i{
    transition:  ease-in 1s;
}
.links-item i:hover{
    transform: scale(1.5);
}

.userDash-container{
    display: grid;
    margin: 20px 10px;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: center;
    gap: 40px;
}
.userDash-headSection{
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar-userDash{
    
    background-color: #D9D9D9;
    width: 100%;
    border-radius: 16px;
    box-shadow: -13px 16px 30px -10px rgba(4,4,4,0.56);
    -webkit-box-shadow: -13px 16px 30px -10px rgba(4,4,4,0.56);
    -moz-box-shadow: -13px 16px 30px -10px rgba(4,4,4,0.56);
    padding: 20px;
}

.userDash-main-title{
    text-align: center;

    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(to right, #ffad0e, #ff924f, #ff807f, #ff7da8, #de85c3, #c784c6, #af83c5, #9782c1, #8d77b9, #836db1, #7a62a9, #7058a1);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  
}
.red{
    background-image: linear-gradient(to left top, #ff0e0e, #f70f24, #ee1633, #e41f3e, #d92848, #db405a, #db536c, #da647c, #e4849a, #eca3b6, #f3c2d1, #f9e0e9);
}

.searchAndbtn-container{
    margin-top: 145px;
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;

}
.btn-add-user{
    color: #fff;
    background: rgb(169,135,238);
    background: linear-gradient(135deg, rgba(169,135,238,1) 25%, rgba(112,88,161,1) 86%);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.SearchBar{
    color: #7058A1;
    border:2px solid #7058A1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px 20px;
}
.SearchBar .search-input{
    background-color: #fff;
}
.SearchBar i {
    transform: scale(1.5);
}
.tablecontainerTocenter{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center ;
}

.userTableofData{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tableheadline3{
    margin: 50px 50px 2px 50px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    gap: 2px;
    /*justify-content: center;
    align-items: stretch;
    align-content: center;
    justify-items: stretch;*/
}
.tableElementLine3{
    margin: 0 50px 2px 50px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    gap: 2px;
}

.headElem3{
    background-color: #7058A1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
}
.Corner-head{
    background-color: #7058A1;
    border-radius: 0 10px 0 0 ;
}

.twoGridPlaces{
    grid-column: span 2;
}
.threeGridPlaces{
    grid-column: span 3;
}
.fourGridPlaces{
    grid-column: span 4;
}

.tableElem3{
    background-color: #e6e6e6;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
    
    font-size: 11px;
    font-weight: 500;
}
.buttonOfNavigationInTable{
    background-color: #7058A1;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center
}
.settingsButton{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center ;
}
.DeleteBtn{
    background-color: #ffad0e;
    padding: 10px 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center 
}

.DeleteBtn i {
    transform: scale(1.2);
}
.accountRestricted{
    margin-top: 15px;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hidden{
    display: none;
}