.Navbar-traxy-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px 80px;
    background: rgb(169,135,238);
    background: linear-gradient(135deg, rgba(169,135,238,1) 25%, rgba(112,88,161,1) 86%);
}

.links-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 50px;
    padding: 0 50px;
    width :fit-content;
}
.links-item{
    color: #7058A1;
    padding: 15px 45px;
    background-color: #fff;
    border-radius: 23px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}
.links-item.selected{
    color: #fff;
    background-color: #FFAD0E;
    transform: scale(1.1);
}
.links-item:hover{
    cursor: pointer;
}
.links-item i{
    transition:  ease-in 1s;
}
.links-item i:hover{
    transform: scale(1.5);
}

.customerDash-main-title{
    text-align: center;
    margin-top: 10px;

    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(to right, #ffad0e, #ff924f, #ff807f, #ff7da8, #de85c3, #c784c6, #af83c5, #9782c1, #8d77b9, #836db1, #7a62a9, #7058a1);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  
}
.customerForm-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 35px;
    margin-top: 100px;
}

.form-card{
    background-color: #7058A1;
    border: 1px solid #7058A1;
    width: 40%;
    border-radius: 16px;
    box-shadow: -5px 6px 17px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: -5px 6px 17px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 6px 17px -3px rgba(0,0,0,0.75);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px 15px;
}
.inputs-line{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    gap: 20px;
}
.inputContainer{
    border: 2px solid #444;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
}
.labelContainer{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.inputContainer .add-form-input{
    background-color: #fff;
    padding: 20px ;
    border-radius: 20px;
}
.optionsInput{
    display: flex;
    justify-content: space-between;
}

.option-container{
    background-color: #fff;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px 20px;
    border-radius: 20px;
    border: 2px solid #444;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 50%;
}
.optionWrapper{
    display: flex;
    gap: 35px;
}
.button-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.button-submit{
    color: #fff;
    background-color: #FFAD0E;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 15px 35px;
    border: none;
    border-radius: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    width: 50%;

}

.button-submit:hover{
    cursor: pointer;
    transform: scale(1.1);
}